

<ion-content>
  <div  class="fondo-alumno">
    <ion-card>
      <img src="../../../assets/imagen/2560px-Logo_DuocUC.svg.png" alt="" width="500px">
      <img src="../../../assets/imagen/379383_student_icon.png" alt="" width="200">

      <ion-button color="warning"  size="xl" class="boton">
        Abrir camara
        
      </ion-button>
      <ion-item>
        <ion-label> 
        
        </ion-label>
        <ion-input type="text" placeholder="Ingrese el codigo QR "></ion-input>
        <ion-button> Registrar asistencia</ion-button>
      </ion-item>

    </ion-card>
  </div>
</ion-content>
