

<ion-content>
  <div  class="fondo-alumno">
    <ion-card>
      <img src="../../../assets/imagen/2560px-Logo_DuocUC.svg.png" alt="" width="500px">
      <img src="../../../assets/imagen/profesor.png" alt="" width="200">

      <ngx-qrcode [elementType]="elementType" [value]="value"></ngx-qrcode>
      <ion-input  placeholder="" color="black" [(ngModel)]="value" disabled="true"></ion-input>
      <ion-button class="" color="primary"  class="boton" (click)="generarQR()">
        Generar código QR
      </ion-button>

    </ion-card>
  </div>
</ion-content>

